/* 
 * File: /~ttran/css/homeCSS.css
 * Authors: C. Compton, J. Nappi,T. Tran, UMass Lowell CompSci Students
 * Course: GUI Programming 2
 * Email: christopher.j.compton@gmail.com, jacobmathewnappi@gmail.com,
 * thu_tran2@student.uml.edu
 * Description: Styles home page of Book-It. Purpose of the style sheet follows. 
 * Updated: February 11, 2014
 * (Documentation is a modification of Jesse Heines's work.)
 */


/* Sets the contents of top div containing banner and navigation menu. */
#top 
{
  height: 150px;
  width: 800px;
  margin: 0 auto;
}

/* Sets the properties to the customer login button. */
input
{
  float: right;
  font: 12px "Tohoma", "Helvetica", "sans-serif";
  font-weight: bold; 
  width: 80px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* Container of employee profiles */
#employeeContent
{
  width: 900px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}

/* Container of individual employee profile */
div.emplyProfile
{
  display: inline-block;
  width: 250px;
  margin-right: 15px;
  margin-left: 15px;
  //margin: auto;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888;
}

/* Set properties to employee pictures*/
img.pic
{
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 1px solid #606060;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px #888;
  opacity: 0.9;
}

h1, h2, h3
{
  text-align: center;
}

h2
{
  padding: 0px;
  margin-top: -20px;
}

h3
{
  padding-left: 20px;
  padding-right: 10px;
}


/* Sets the <ul> tags properties for the navigation links menu. */
ul.nav 
{
  height: 37px;
  width: 800px;
  padding: 0;
  top: 0;
  font: 15px "Tahoma", "Helvetica", "sans-serif";
  background-color: white;
  list-style: none;
  text-align: center;
}

ul.expetiseList
{
  border: 1px solid #606060;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Sets the properties for the navigation links menu. */
li.nav 
{
  display: inline-block; /* Align the navigation links side by side. */
  padding-right: 10px;
  border-right: 1px solid #213C63; /* solid red line betweeen navigation links. */
}

lh.expertiseBullet
{
  border-bottom: 1px solid #606060;
}

li.expertiseBullet
{
  padding:10px;
}

/* Sets the properties to the bottom navigation links. */
#footer
{
  width: 800px;
  padding: 10px;
  margin: 0 auto;
  bottom: 0px;
}




