/* 
 * File: /~ttran/css/homeCSS.css
 * Authors: Thu Tran, UMass Lowell CompSci Student
 * Course: GUI Programming 2
 * Email: thu_tran2@student.uml.edu
 * Description: Styles home page of Book-It. Purpose of the style sheet follows. 
 * Updated: February 22, 2014
 * (Documentation is a modification of Jesse Heines's work.)
 */

body{
  position: relative;
}
/* Sets the contents of top div containing banner and navigation menu. */
#header 
{
  position: fixed;
  top: 0;
  left: 0;
  background: #deedf7;
  height: 150px;
  width: 100%;
  z-index: 899;
}

#header #imgage
{
  margin-right: 5px;
}

#loginRegister
{
  position: absolute;
  top: 70px;
  right: 30px;
}
/* over ride j*/
.userButton
{
  font-size: 12px;
  margin-bottom: 5px;
}

#msgTousr
{
  position: absolute;
  width: 100%;
  top: 100px;
}


#msgTousr .ui-icon-info
{
  float: left;
}

#msgTousr .ui-state-highlight
{
  margin: 0 auto;
  margin-top: 10px;
  height: 25px;
  width: 720px;
}

#msgTousr .ui-icon
{
  margin: 4px;
}

p#msg
{
  margin-top: 5px;
  font: 12px "Lucida Grande", "Lucida Sans", "Arial,sans-serif";
  color: #362b36;
  float: left;
}

/* Container of employee profiles
.ui-employees
{
  width: 745px;
  margin: 145px auto;
  margin-bottom: 0;
  padding: 10px;
} */

.ui-employees .ChrisA {
  position: absolute;
  top: 155px;
  left: 310px;
  z-index: -4;
}

.ui-employees .ChrisB {
  position: absolute;
  top: 155px;
  left: 20px;
}

.ui-employees .ThuA {
  position: absolute;
  top: 155px;
  left: 560px;
  z-index: -3;
}

.ui-employees .ThuB {
  position: absolute;
  top: 395px;
  left: 20px;
}

.ui-employees .JacobA {
  position: absolute;
  top: 155px;
  left: 810px;
  z-index: -2;
}

.ui-employees .JacobB {
  position: absolute;
  top: 635px;
  left: 20px;
}

.hidden
{
  visibility: hidden;
}

.ui-employees .ui-widget-header{
  margin: 10px;
  height: 100px;
}

/* Container of individual employee profile */
.ui-employees .emplyProfile
{
  //display: inline-block;
  width: 220px;
  //margin: 10px;
  //border: 1px solid #dddddd;
  box-shadow: 10px 10px 5px #888;
}

.ui-employees .emplyProfileB
{
  width: 220px;
  height: 220px;
  box-shadow: 10px 10px 5px #888;
}

/* Set properties to employee pictures*/
.ui-employees .pic
{
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 1px solid #606060;
  box-shadow: 2px 2px 2px #888;
}

.ui-employees h1, .ui-employees h2{
  margin: 10px;
}

/* Sets the <ul> tags properties for the navigation links menu. */
ul.nav 
{
  padding: 0;
  text-align: center;
}

/* Sets the properties to expertise list */
lh.expertiseBullet
{
  font-weight: bold;
  border-bottom: 1px solid #606060;
  font-family: "Lucida Grande", "Lucida Sans", "Arial,sans-serif";
}

/* Sets property to employee login and home button */
#nav1, #nav2
{
  font-size: 12px;
}


/* Sets the properties to the bottom navigation links. */
#footer
{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #deedf7;
  z-index: 899;
}

.ui-employees .primary {
  position: absolute;
  top: 200px;
  left: 280px;
  z-index: -1;
}

#calendarDiv{
    position: absolute;
    top: 335px;
    left: 700px;
    transform: scale(2);
    z-index: -999;
}
