<!DOCTYPE html>
<html ng-app="employeeApp">
  <head>
    <meta charset="UTF-8">

    <!--
      File: home.html
      Author: Thu Tran, UMass Lowell CompSci Student
      Course: GUI Programming 2
      Email: thu_tran2@student.uml.edu
      Description: This page is the home page to Book-It project. 
      Updated: February 22, 2014
      (Documentation is a modification of Professor Jesse Heines's work.)
    -->

    <title>Book-It Home</title>

    <!-- Load jQuery library from the Google content Delivery Network (CDN)see 
    http://encosia.com/3-reasons-why-you-should-let-google-host-jquery-for-you/
    jQuery can also be downloaded and stored locally from http://jquery.com/download/-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>

    <script src="js/jquery-ui/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="js/employeeDatajs.js" type="text/javascript"></script>
    <script src="js/angular/controllers.js" type="text/javascript"></script>

    <!-- The lines below is to link the css to this page. -->
    <link rel="stylesheet" type="text/css" href="css/cupertino/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" type="text/css" href="css/homeCSS.css">

  </head>
  <body>
    <div id="header">
      <div id="image">
        <img src="images/BookItBanner.png" alt="">
      </div>
      
      <div id="loginRegister">
        <form id="usrLoginForm" method="POST">
          <input type="text" placeholder="Username">
          <input type="text" placeholder="Password">
          <!-- Customer log in button - will not implement this until Beta version.  -->
          <a class="userButton" href="home.html" id="loginButton"></a>
          <a class="userButton" href="home.html" id="registerButton"></a>
        </form>
      </div>
      
      <div id="msgTousr">
        <div class="ui-state-highlight ui-corner-all" >
          <div  class="ui-icon ui-icon-info"></div>
          <p id="msg">Below are our professional staff. Click on the picture of your 
            preferred specialist to book an appointment with them. </p>
        </div>
      </div>
    </div>

    <div ng-controller="EmployeeCtrl" class="ui-widget ui-employees" id="employeeContent">
      <div ng-repeat="employee in employees" id="{{employee.firstName}}" class="emplyProfile ui-widget-content ui-corner-all">
        <img ng-src="{{employee.img}}" ng-click="loadEmployeeCal('{{employee.firstName}}')" class="pic ui-corner-all">
        <div class="ui-widget-header ui-corner-all empl-name-title">
          <h1>{{employee.firstName}}</h1>
          <h2>{{employee.jobTitle}}</h2>
        </div>
        <ul class="expertiseList">
          <lh class="expertiseBullet">Expertise</lh>
          <li ng-repeat="expertise in employee.expertiseList">{{expertise}}</li>
        </ul>
      </div>
    </div>
    
    <!-- footer -->
    <div id="footer">
      <ul class="nav">
        <li id="nav1">
          Employee Login <!-- Will be implemented if there is time. -->
        </li>
        <li id="nav2">
          <a href="home.html">Home</a>
        </li>
      </ul>
    </div>
  </body>
</html>
